@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); */


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 9;
    transition: all 0.7s;
}

img {
    width: 16em;
    height: 16em;
    border-radius: 50%;
    position: absolute;
    bottom: 5vh;
    right: -8em;
}

section:hover {
    flex: 10;
}

section h1 {
    background: #083627;
    border-radius: 10px;
    color: #da7a47;
    padding: 12px 32px;
    position: absolute;
    top: 15vh;
    right: 0vw;
    transform: translateY(-50%) translateX(50%);
    font-size: 5em;
    font-weight: 300;
}

section h2 {
    /* background: rgba(0, 0, 0, 1); */
    /* color: white; */
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 4em;
    font-weight: 300;
    letter-spacing: -1px;

}

.music-director {
    background: url('../../images/piano-bw.jpg') #47a3da;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    position: relative;
}

.music-director a {
    text-decoration: none;
}

.music-director h2 {
    background: #ffffff;
    color: #47a3da;
}

.music-director a:hover h2 {
    background: #883a20;
    color: white;
    transition: all 0.3s;
}

.music-director a:active h2 {
    color: #e19ded;
}

.singer-songwriter {
    background: url('../../images/mic-bw.jpg') #ffffff;
    background-position: 10% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.singer-songwriter a {
    text-decoration: none;
}

.singer-songwriter h2 {
    background: #47a3da;
    color: #ffffff;
}

.singer-songwriter a:hover h2 {
    background: #883a20;
    color: white;
    transition: all 0.3s;
}

.singer-songwriter a:active h2 {
    color: #e19ded;
}

@media screen and (max-width: 1110px) {

    section h1 {
        /* background: rgba(0, 0, 0, 1); */
        /* color: white; */
        border-radius: 17px;
        padding: 10px 17px;
        font-size: 4.5em;
        font-weight: 300;
        letter-spacing: -1px;

    }

    section h2 {
        /* background: rgba(0, 0, 0, 1); */
        /* color: white; */
        border-radius: 17px;
        padding: 10px 17px;
        font-size: 3.5em;
        font-weight: 300;
        letter-spacing: -1px;

    }
}


@media screen and (max-width: 907px) {

    section h1 {
        /* background: rgba(0, 0, 0, 1); */
        /* color: white; */
        border-radius: 17px;
        padding: 10px 17px;
        font-size: 3.5em;
        font-weight: 300;
        letter-spacing: -1px;

    }

    section h2 {
        /* background: rgba(0, 0, 0, 1); */
        /* color: white; */
        border-radius: 17px;
        padding: 10px 17px;
        font-size: 2.5em;
        font-weight: 300;
        letter-spacing: -1px;

    }

}


@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    section {
        height: 50vh;
    }

    img {
        width: 14em;
        height: 14em;
        border-radius: 50%;
        position: absolute;
        top: 100%;
        right: 50vw;
        transform: translateX(50%) translateY(-50%);
    }

    section h1 {
        border-radius: 10px;
        padding: 12px 32px;
        position: absolute;
        top: 10vh;
        right: 50vw;
        transform: translateY(-50%) translateX(50%);
        font-weight: 300;
        font-size: 5em;
        white-space: nowrap;
    }

}

@media screen and (max-width: 567px) {
    /* 

    img {
        width: 14em;
        height: 14em;
        border-radius: 50%;
        position: absolute;
        top: 100%;
        right: 50vw;
        transform: translateX(50%) translateY(-50%);
    } */

    section h1 {
        border-radius: 10px;
        padding: 8px 26px;
        position: absolute;
        top: 10vh;
        right: 50vw;
        transform: translateY(-50%) translateX(50%);
        font-weight: 300;
        font-size: 4em;
        white-space: nowrap;
        font-weight: 300;
    }

}

@media screen and (max-width: 480px) {

    img {
        width: 11em;
        height: 11em;
        border-radius: 50%;
        position: absolute;
        top: 100%;
        right: 50vw;
        transform: translateX(50%) translateY(-50%);
    }

    section:hover {
        flex: 9;
    }

    section h1 {
        border-radius: 10px;
        padding: 8px 18px;
        position: absolute;
        top: 10vh;
        right: 50vw;
        transform: translateY(-50%) translateX(50%);
        font-weight: 300;
        font-size: 3.5em;
        white-space: nowrap;
        font-weight: 300;
    }

    section h2 {
        /* background: rgba(0, 0, 0, 1); */
        /* color: white; */
        border-radius: 17px;
        padding: 10px 17px;
        font-size: 2em;
        font-weight: 300;
        letter-spacing: -1px;

    }

}

@media screen and (max-width: 320px) {

    img {
        width: 8em;
        height: 8em;
        border-radius: 50%;
        position: absolute;
        top: 100%;
        right: 50vw;
        transform: translateX(50%) translateY(-50%);
    }

    section:hover {
        flex: 9;
    }

    section h1 {
        border-radius: 10px;
        padding: 8px 14px;
        position: absolute;
        top: 10vh;
        right: 50vw;
        transform: translateY(-50%) translateX(50%);
        font-weight: 300;
        font-size: 3em;
        white-space: nowrap;
        font-weight: 300;
    }

    section h2 {
        /* background: rgba(0, 0, 0, 1); */
        /* color: white; */
        border-radius: 17px;
        padding: 10px 17px;
        font-size: 2em;
        font-weight: 300;
        letter-spacing: -1px;

    }

}

@media screen and (min-device-width: 1000px) and (orientation: landscape) {

    .container {
        flex-direction: row;
    }

    section {
        height: 100vh;
    }

    img {
        width: 18em;
        height: 18em;
        border-radius: 50%;
        position: absolute;
        top: 76%;
        right: 0%;
        transform: translateX(50%) translateY(-50%);
    }

    section:hover {
        flex: 9;
    }

    section h1 {
        border-radius: 10px;
        padding: 8px 18px;
        position: absolute;
        top: 20vh;
        right: 0%;
        transform: translateY(-50%) translateX(50%);
        font-weight: 300;
        font-size: 6em;
        white-space: nowrap;
        font-weight: 300;
    }

    section h2 {
        /* background: rgba(0, 0, 0, 1); */
        /* color: white; */
        border-radius: 17px;
        padding: 10px 17px;
        font-size: 4em;
        font-weight: 300;
        letter-spacing: -1px;

    }
}

@media screen and (max-device-width: 1024px) and (orientation: landscape) {

    .container {
        flex-direction: row;
    }

    section {
        height: 100vh;
    }

    img {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        position: absolute;
        top: 76%;
        right: 0%;
        transform: translateX(50%) translateY(-50%);
    }

    section:hover {
        flex: 9;
    }

    section h1 {
        border-radius: 10px;
        padding: 8px 18px;
        position: absolute;
        top: 20vh;
        right: 0%;
        transform: translateY(-50%) translateX(50%);
        font-weight: 300;
        font-size: 3.5em;
        white-space: nowrap;
        font-weight: 300;
    }

    section h2 {
        /* background: rgba(0, 0, 0, 1); */
        /* color: white; */
        border-radius: 17px;
        padding: 10px 17px;
        font-size: 2em;
        font-weight: 300;
        letter-spacing: -1px;

    }
}

@media screen and (max-device-width: 640px) and (orientation: landscape) {

    img {
        width: 8em;
        height: 8em;
        border-radius: 50%;
        position: absolute;
        top: 80%;
        right: 0%;
        transform: translateX(50%) translateY(-50%);
    }
}